/**
--- 01 TYPOGRAPHY SYSTEM

  - Font-size system (px)
    10 / 12 / 14 / 16 / 18 / 20 / 24 / 
    30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

  - Font weights:
      Default:400

  - Lihe heights:
      Default: 1


  - Spacing system (px)
    2 / 4 / 8 / 12 / 16 / 24 / 
    32 / 48 / 64 / 80 / 96 / 128


--- 02 COLORS

  - Primary: #25064c
  - Tints:
  - Shades:
  - Accent:
  - Greys: #555,


--- 03 IMAGES

  - unsplash.com
  - uifaces.co


--- 04 SHADOWS


--- 05 BORDERS-RADIUS


--- 07 WHITESPACE

  - Spacing system (px)
    2 / 4 / 8 / 12 / 16 / 24 / 
    32 / 48 / 64 / 80 / 96 / 128
*/

// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: "Montserrat", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$violet: #25064c;
$error: #f03e3e;
$a-color: #1e4997;
$a-hover: #4e713a;
$text-button: #e6dfe4;
$text-button-gray: #343a40;
$backgroung-banner: #2c422c;
$backgroung-header-card: #f5f5f5;
