// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: "Montserrat", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$violet: #25064c;
$a-color: #1e4997;
$a-hover: #4e713a;
$text-button: #e6dfe4;
$backgroung-banner: #2c422c;
$backgroung-header-card: #f5f5f5;
